body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: "Arial";
    font-size: 1em;
}

main {
	float: left;
	width: 80%;
}

nav {
	float: right;
	width: 15%;
    text-align: center;
}

aside {
	float: right;
	width: 15%;
    text-align: center;
}

.imgbox {
    display: grid;
    max-width: 96%;
    max-height: 96%;
    text-align:center
}

.center-fit {
    max-width: 96%;
    max-height: 96vh;
    margin: auto;
}

#beschreibung {
  font-weight:bold;
  color:white;
}

#mydetails {
  color:gray;
}

#anzahl {
  color:gray;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #123452 100%);
	background-color:#2dabf9;
	border-radius:6px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 2px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #123452 5%, #2dabf9 100%);
	background-color:#123452;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*
@media only screen and (max-width: 1080px) {
	
}
*/

@media only screen and (orientation: portrait) {

	main {
		float: none;
		width: 100%;
		font-size: 1.6em;
	}
	
	nav {
		float: none;
		width: 100%;
	    text-align: center;
	    font-size: 1.6em;
	}
	
	aside {
		float: none;
		width: 100%;
	    text-align: center;
	    font-size: 1.6em;
	}

	
}
